@charset "UTF-8";

*
{
    margin: 0;
    padding: 0;
}

html, body
{
    min-height: 100vh;
    background-color: darkgrey;
}

header
{
    background-color: #000000;
    color: #ffff;
    text-align: center;
}

header > h1
{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p
{
    padding-bottom: 50px;
}

a
{
    color: #ffff;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover
{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal
{
    background-color: #ffff;
    color: #000000;
}

section.imagem
{
    background-color: #494949;
    color: #ffff;
}

section.imagem > p
{
    width: 400px;
    background-color: #6d6d6d;
}

footer
{
    background-color: #000000;
    color: #ffff;
    text-align: center;
    padding: 50px;
}
